<div ng-controller = "customersController">
	<input type="text" ng-model="newCustomer.name" placeholder="name">
	<button ng-click="addCustomer()"> Add Customer </button>
	<table class="table">
	<input type="text" ng-model="filter_name" placeholder="filter">
		<tr>
			<th> Name </th>
			<th> Created Date </th>
			<th> Actions </th>
		</tr>
		<tr ng-repeat="customer in customers | filter: filter_name">
			<td> {{ customer.name }}</td>
			<td> {{ customer.createdAt }}</td>
			<td> <button ng-click="deleteCustomer(customer)"> Remove </button></td>
		</tr>
	</table>
<div>